/* variables que podremos usar en nuestro css */
:root {

    --primary-color: lightgreen;
    --primary-font: "Poppins", serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
}

/* para que las imagenes se adapten a su contenedor, necesario para imagenes responsive */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* contenedor encorsetado */
.container {
    max-width: 75rem;
    margin: 0 auto;
}

.navbar {
    background-color: var(--primary-color);
}



.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*mobile first: una columna debajo de la otra*/
    gap: 15px;
    padding: 0 1.25rem;
    margin: 0 auto;
    margin-top: 20px;

}

article {
    box-shadow: 2px 2px 4px gray;
    border: 2px solid gray;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;

    /* para que los elementos dentro del article queden posicionados igual en cada una de las cards sin importar el tamaño de la imageno o texto  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Asegura que el contenido quede repartido */
    align-items: center;

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.02);
        background-color: rgb(231, 246, 231);
    }
}

figure img {
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.totalCarrito {
    margin-top: 30px;
}


footer {
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-top: 15px;

    .container {
        display: flex;
        justify-content: space-between;
    }

    ul li {
        display: inline-block;
        margin: 0px 5px;

        a {
            color: black;
            text-decoration: none;
        }
    }

}


@media(width >=48rem) {

    /*media query para vista en tablet*/
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width >=62.75rem) {

    /*media query para vista en desktop*/
    .grid {
        grid-template-columns: repeat(3, 1fr);

    }
}