:root {
    --primary-color: lightgreen;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
}

/* css para el header */
header {
    background-color: lightgreen;
    width: 100%;

    .container {
        figure {
            width: 7.5rem;
        }
    }

    a {
        color: black;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--primary-color);
    color: black;
    text-align: center;
    padding: 0.625rem;
    bottom: 0;
    margin-top: 0.9375rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    ul li {
        display: inline-block;
        margin: 0rem 0.3125rem;

        a {
            color: black;
            text-decoration: none;
        }
    }

}